.prose * {
 font-size: 1em !important;
}

.prose li::marker,
.prose li,
.prose p,
.prose h1,
.prose h2,
.prose h3,
.prose code,
.prose strong {
    color: #fff !important; /* Apply the same color to all matching elements */
}

.prose a {
    color: #3b82f6 !important; /* Apply the same color to all matching elements */
}


.prose li {
    margin: 0 !important; /* Reset margin for list items */
}

.prose p,
.prose ul,
.prose ol,
.prose h1,
.prose h2,
.prose h3,
.prose strong {
    margin-top: 0.1em !important; /* Set a uniform top margin */
    margin-bottom: 0.1em !important; /* Set a uniform bottom margin */
}
